<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>签到</title>
    <link rel="stylesheet" href="/static/css/checkin.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_ztubsjaqbwpl23xr.css">
</head>
<body>
    <div id="checkin">
        <ul class='c-head'><li><</li><li><?=year?>年<?=month+1?>月<?=date?>日</li><li>></li></ul>
        <ul class="c-week">
            <li>日</li>
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
        </ul>
        <ul class='c-day'>
            <?for(let r=firstday;r>0;r--){?>
                <li class='light'><?=days[month-1]-r+1?> </li>
            <?}?>
            <?for(let i=1,j=1;i<=35-firstday;i++){?>
                <li class='<?=i==date?'today':''?>'>
                    <?if(i<=days[month]){?>
                        <?if(checks.indexOf(i)>-1){?>
                            <i class='iconfont icon-circle-select'></i>
                        <?}?>
                        <?=i?>
                    <?}else{?>
                        <?= j++?>
                    <?}?>
                </li>
            <?}?>
            <!--
            <li><i class='iconfont icon-circle-select'></i> 19</li>
            <li class='today'><i class='iconfont icon-circle-select'></i>20</li>
            <li> </li>-->
        </ul>
        <?if(hascheck){?>
            <span class='checkin'>已签到</span>
        <?}else{?>
            <span class='checkin'>签到</span>
        <?}?>
    </div>
    <script src='/static/js/jquery-3.2.1.min.js'></script>
    <script type="text/javascript">
    <?if(!hascheck){?>
        function qian(){
            $.ajax({
                url:'/check_in',
                data:{name:'胡渊'},
                success:(res)=>{
                    console.log(res)
                    $('#checkin').find('.checkin').html('签到成功')
                    $('#checkin').find('.today').append('<i class="iconfont icon-circle-select"></i>')
                },
                error:()=>{
                    $('#checkin').find('.checkin').one('click',qian)
                }
            })
        }
        $('#checkin').find('.checkin').one('click',qian)
    <?}?>
    </script>
</body>
</html>