<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>签到</title>
        <link rel="stylesheet" href="/static/css/checkin.min.css">
        <link rel="stylesheet" href="/static/font/iconfont.css">
    </head>

    <body>
        <div id="checkin">
            <!--<ul class='c-head'>
                <li>
                    <</li>
                        <li> 年 月 日</li>
                        <li>></li>
            </ul>
            <ul class="c-week">
                <li>日</li>
                <li>一</li>
                <li>二</li>
                <li>三</li>
                <li>四</li>
                <li>五</li>
                <li>六</li>
            </ul>
            <ul class='c-day'>-->
                
            <!--
                <li><i class='iconfont icon-circle-select'></i> 19</li>
                <li class='today'><i class='iconfont icon-circle-select'></i>20</li>
                <li> </li>
            -->
            <!--</ul>

            <span class='checkin'>签到</span>-->
        </div>
        <script src='/static/js/jquery-3.2.1.min.js'></script>
        <script type="text/javascript">
            $.fn.extend({
                hasqian:true,
                cal: function(d){
                    var t = new Date(d), y= t.getFullYear(), m = t.getMonth(), jin = t.getDate(),
                     h=`<ul class='c-head'> <li id='before'><</li><li id='nowDate'>${(new Date(d)).getFullYear()}年${m + 1}月${jin}日</li><li id='after'>></li></ul><ul class="c-week"><li>日</li><li>一</li><li>二</li><li>三</li><li>四</li><li>五</li><li>六</li></ul> <ul class='c-day'></ul><span class='checkin'></span><ul id='selectDate'><li>1</li></ul>`,me=this
                    this.html(h)
                    this.cha(d)
                    this.on('click',(function (e) {
                        if(e.target.id=='before'){
                            let time = this.find('#nowDate').html().split(/[^\d]/g)
                                time[1] -= 1
                                if (time[1] < 1) { time[1] = 12; time[0]-- }
                                this.cha((new Date(time.slice(0, -1).join('-'))).getTime())
                                this.find('#nowDate').html(`${time[0]}年${time[1]}月${time[2]}日`)
                        }else if(e.target.id=='after'){
                            let time = me.find('#nowDate').html().split(/[^\d]/g)
                            time[1] = time[1] - 0 + 1
                            if (time[1] > 12) { time[1] = 1; time[0]++ }
                            this.cha((new Date(time.slice(0, -1).join('-'))).getTime())
                            this.find('#nowDate').html(`${time[0]}年${time[1]}月${time[2]}日`)
                        }else if(e.target.id=='nowDate'){
                            this.find('#selectDate').slideToggle(100)
                        }else if($(e.target).hasClass('qian')){
                            this.qian()
                        }
                    }).bind(this))
                },
                cha:function(d){
                    var days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31], t = new Date(d), y= t.getFullYear(), m = t.getMonth(),jin=t.getDate(), o,html=''
                    //判断 闰年
                    if ((y % 4 == 0) && (y % 100 != 0) || (y % 400 == 0)) {
                        days[1] = 29
                    }
                    $.get('qian/find', { 
                        ds: (new Date(`${y}-${m+1}-1`)).getTime(),
                        de: (new Date(`${y}-${m+2>12?1:m+2}-1`)).getTime()-1},
                         (function(t){
                             //获得 几号
                            let n=t.map((v)=>{
                                return (new Date(v.time)).getDate()
                            })
                            let week=(new Date(`${y}-${m+1}-1`)).getDay()//获取1号星期几
                            for(let i=0;i<week;i++)
                                html+=`<li></li>`
                            // 往网页添加html
                            for(let i=1;i<=days[m];i++){
                                html+=`<li ${i==jin&&'class="today"'}>${n.indexOf(i)>-1?"<i class='iconfont icon-circle-select'></i>":""}${i}</li>`
                            }
                            for(let j=42-week-days[m];j>0;j--)
                                html+='<li></li>'

                            // html+=`</ul><span class="checkin ${n.indexOf(jin)>-1?' "> 已签到 ':'qian">签到'}</span>`

                            if(n.indexOf(jin)==-1&&this.hasqian){
                                this.find('.checkin').addClass('qian').html('签到')
                            }else{
                                this.find('.checkin').html('已签到')
                                this.hasqian=false;
                            }
                            
                            this.find('.c-day').html(html)

                    }).bind(this))
                },
                qian:function () {
                    var date = new Date() - 0
                        $.get('qian/qiandao', { name: '胡渊', date: date }, (function(msg){
                            let t=new Date()
                            this.find('#nowDate').html(`${t.getFullYear()}年${t.getMonth()+1}月${t.getDate()}日`)
                            this.cha((new Date).getTime())
                            // this.find('.today').append("<i class='iconfont icon-circle-select'></i>")
                            this.find('.checkin').html('已签到').removeClass('qian')
                            this.hasqian = false;
                        }).bind(this))
                }
            })
        

        $(()=>{
            $('#checkin').cal((new Date()).getTime())
        });
        </script>
    </body>

</html>