<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>天气</title>
    <style>
        body{margin: 0;text-align: center;font-size: 0}
    </style>
</head>
<body>
    <canvas id="canvas">你的浏览器不支持canvas，请升级你的浏览器</canvas>


    <!--<script src='/static/js/jquery-3.2.1.min.js'></script>-->
    <!--<script src='/static/js/two.min.js'></script>-->
    <!--<script src='/static/js/canvas/ocanvas-2.8.8.min.js'></script>-->
    <script src='/static/js/canvas/easeljs-0.8.2.min.js'></script>
    <script src='/static/js/canvas/tweenjs-0.6.2.min.js'></script>
    <script>
        // $(function(){
            // $.get('http://api.jirengu.com/weather.php?city=%E6%AD%A6%E6%B1%89',function(o){
            //     o = eval('(' + o + ')')
            //     if(o.status=='success'){


            //     }
            // })
        // })

        var weather={
            init:function(){
                var w=window.innerWidth,h=window.innerHeight,canvas=document.getElementById('canvas')
                canvas.width=w>414?414:w
                canvas.height=h>736?736:h

                 //创建一个阶段，得到一个参考的画布
                stage = new createjs.Stage("canvas");
                //云层1
                var cloud1=new createjs.Shape()
                cloud1.graphics.bf('#efefef')


                createjs.Ticker.setFPS(60)

                stage.update()
            }

        }
        weather.init()
    </script>
</body>
</html>